@font-face {
  font-family: Pixel01; 
  src: url('PixelEmulator-xq08.ttf'); 
}
@font-face { 
  font-family: Pixel01; 
  font-weight: bold; 
  src: url('PixelEmulator-xq08.ttf'); 
}

@font-face { 
  font-family: Pixel02; 
  font-weight: bold; 
  src: url('Pixellium-v0Z9.ttf'); 
}
@font-face { 
  font-family: Pixel02; 
  font-weight: bold; 
  src: url('Pixellium-v0Z9.ttf'); 
}

*{
    cursor: url(resizeCursor.gif), auto;
}

body {
    background-image: url("background.gif");
    background-color: #fcedf8;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: center; 

    height: 120px;
    width: 100%;

    /*border: 2px solid red ;*/
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: Pixel02, sans-serif;
    color: white;
    font-size: 15px;

    border-radius: 20px;
    box-shadow: 0px 5px 5px 5px #7d7c7d;

    background-color: #ff94df;
    height: 100px;
    width: 90%;
}

.contain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #ff94df;

    height: 70%;
    width: 600px;

}

.headerName{
    padding: 0;

    color: white;
    font-family: Pixel01,sans-serif;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;

    text-shadow: 5px 5px black;

    height: 60px;
}

b{
    font-weight: bolder;

    transition: ease 2s;
}

b:hover{
    color: deeppink;
}

.outer{
    display: flex;
    justify-content: center;
    align-items: center;

    /*border: 2px solid red;*/

    /*margin: auto;*/

    height: 700px;

}

.inner{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    background-color: #dbdbdb;
    box-shadow: 0px 5px 5px 5px #7d7c7d;
    border-radius: 20px;

    border: 2px solid #ff94df;

    width: 700px;
    height: 600px;


}

.board{
    /*
    display: flex;
    flex-wrap: wrap;
    */

    padding: 3px;

    width: 590px;
    height: 394px;

    /*border-radius: 20px;*/
    /*border: 2px solid #ff94df;*/
    border: 1px solid black;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;

    padding: 0;
    margin-top: 10px;

    width: 600px;
    height: 120px;

    /*border-radius: 20px;*/
    /*border: 2px solid black;*/
}

button{
    background-color: white;

    margin: -3px;

    height: 20px;
    width: 20px;

    border: 1px solid black;

    cursor: pointer;
}

.colours{
    display: flex;
    /*justify-content: center;*/
    /*align-items: center;*/
    flex-direction: column;

    height: 90%;
    width: 240px;

    margin: 0;

    background-color: rgba(255, 148, 212, 0.6);
    border-radius: 20px;
    border: 2px solid #ff94df;

    color: white;
    text-align: center;
    font-family: Pixel02, sans-serif;
    font-size: 17px;
    font-weight: bolder;
}

.colourThing{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    height: 200px;
    width: 220px;

    margin: 0;
    /*border: 2px solid red*/
}

h2{
    margin: 0;
    /*border: 2px solid red;*/ 
}

#colourButton{
    display: flex;
    align-items: center;
    justify-content: center;


    width: 30px;
    height: 20px;

    margin: 5px;

    border: 1px solid black;
    border-radius: 5px;

    background-color: hotpink;
}

#colourPicker{
    height: 20px;
    width: 130px;

    border-radius: 5px;

    background-color: lightgoldenrodyellow;
    margin: 5px;
}

form{
    /*margin-top: -5px;
    border: 2px solid red;*/
}



.cuteThing{
    display: flex;
    justify-content: center;

    background-color: rgba(250, 250, 210, 0.8);

    height: 90%;
    width: 140px;
    margin: 20px;

    padding: 0;

    /*
    background-image: url("https://64.media.tumblr.com/afe3c22217ae6b1d87e63dbe28f65d0d/tumblr_ml2ir92uvU1rfjowdo1_500.gifv");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    */

    border-radius: 20px;
    border: 2px solid #ff94df;
}

#bunny{
    width: 100%;
    height: 100%;
}

.clearFill{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 95%;
    width: 240px;

    background-color: rgba(255, 148, 212, 0.6);

    border-radius: 20px;
    border: 2px solid #ff94df;
}

.controlButton{
    height: 27%;
    width: 200px;

    margin: 2px;

    background-color: #ffd9fb; /*#fbfca9;*/
    border: 1px solid black;
    border-radius: 20px;
    
    color: white;
    text-align: center;
    font-family: Pixel02, sans-serif;
    font-size: 17px;
    font-weight: bolder;

}

.controlButton01{
    height: 27%;
    width: 200px;

    margin: 2px;

    background-color: hotpink;
    border: 1px solid black;
    border-radius: 20px;
    
    color: white;
    text-align: center;
    font-family: Pixel02, sans-serif;
    font-size: 17px;
    font-weight: bolder;
}

.controlButton:hover{
    background-color: lightgoldenrodyellow;
    color: #ffd9fb;
}

